<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cartera facil</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/svg/logos/images.svg">

    <!-- Data table styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <!-- <link rel="stylesheet" href="../assets/vendor/icon-set/style.css"> -->

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <link rel="stylesheet" href="../assets/css/dataTable.css">

</head>

<body class="footer-offset">
    <!-- div.dataTables_wrapper { width: 800 px; margin: 0 auto; } -->

    <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered bg-soft-info">
        <a href="../views/index.php" aria-label="Front">
            <h5 class="bg-success opacity-lg"><img class="navbar-brand-logo-short" src="../assets/svg/logos/images.svg" alt="Logo"> Cartera Facil
                <img class="navbar-brand-logo-short" src="../assets/svg/logos/images.svg" alt="Logo">
            </h5>
        </a>

    </header>

    <main id="content" role="main" class="main pointer-event">
        <section class="bg-soft-warning">
            [TABLA]
        </section>

    </main>

    <!-- Footer -->
    <footer class="modal-footer justify-content-lg-end bg-soft-info">
        <div class="col">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2021
                            Htmlstream.</span></p>
                </div>
                <div class="col-auto">
                    <div class="d-flex justify-content-end">
                        <!-- List Dot -->
                        <ul class="list-inline list-separator">
                            <li class="list-inline-item">
                                <a class="list-separator-link" href="../controller/datos.php">FAQ</a>
                            </li>

                            <li class="list-inline-item">
                                <a class="list-separator-link" href="../controller/prueba.php">License</a>
                            </li>

                            <li class="list-inline-item">
                                <!-- Keyboard Shortcuts Toggle -->
                                <div class="hs-unfold">
                                    <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                          "target": "#keyboardShortcutsSidebar",
                          "type": "css-animation",
                          "animationIn": "fadeInRight",
                          "animationOut": "fadeOutRight",
                          "hasOverlay": true,
                          "smartPositionOff": true
                         }'>

                                    </a>
                                </div>
                                <!-- End Keyboard Shortcuts Toggle -->
                            </li>
                        </ul>
                        <!-- End List Dot -->
                    </div>
                </div>
            </div>
            <!-- 2nd Footer -->
            <footer>
                <address class="font-size-sm mb-3">Cartera facil DEMO <br><span class="d-none d-sm-inline-block">
                        Javier
                        Casallas.</span>
                </address>
            </footer>
            <!-- End 2nd Footer -->
    </footer>

    <!-- End Footer -->


    <!-- JS Global Compulsory  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bulma.min.js"></script>

    <!-- JS Front -->
    <script src="../assets/js/theme.min.js"></script>

    <!-- JS database info-->
    <script src="../js/datatableDatos.js"></script>

</body>

</html>