<table id="principal" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>NIT</th>
            <th>Razon social</th>
            <th>ID cliente</th>
            <th>Documento</th>
            <th>Fecha</th>
            <th>Saldo original</th>
            <th>Saldo final</th>
            <th>Observaciones</th>
            <th>Moneda</th>
            <th>Tasa de cambio</th>
            <th>Oficina</th>
            <th>Motivo</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>Nombre</th>
            <th>NIT</th>
            <th>Razon social</th>
            <th>ID cliente</th>
            <th>Documento</th>
            <th>Fecha</th>
            <th>Saldo original</th>
            <th>Saldo final</th>
            <th>Observaciones</th>
            <th>Moneda</th>
            <th>Tasa de cambio</th>
            <th>Oficina</th>
            <th>Motivo</th>
            <th>Categoria</th>
        </tr>
    </tfoot>
</table>