<button id="button">Delete selected row</button>
<table id="example" class="table is-striped" style="width:100%">
    <thead>
        <tr>
            <th>Movimientos NIT</th>
            <th>Contactos NIT</th>
            <th>Contacto</th>
            <th>Email</th>
            <!-- <th>Documento</th> -->
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>Movimientos NIT</th>
            <th>Contactos NIT</th>
            <th>Contacto</th>
            <th>Email</th>
            <!-- <th>Documento</th> -->
        </tr>
    </tfoot>
</table>