<button id="button">Delete selected row</button>
<table id="example" class="table is-striped" style="width:100%">
    <thead>
        <tr>
            <th>Analista</th>
            <th>Banco</th>
            <th>Cuenta</th>
            <th>Fecha</th>
            <th>Doc</th>
            <th>Tp</th>
            <th>Referencia1</th>
            <th>Valor cheque</th>
            <th>Ofi</th>
            <th>Valor total</th>
            <th>Ciudad</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>Analista</th>
            <th>Banco</th>
            <th>Cuenta</th>
            <th>Fecha</th>
            <th>Doc</th>
            <th>Tp</th>
            <th>Referencia1</th>
            <th>Valor cheque</th>
            <th>Ofi</th>
            <th>Valor total</th>
            <th>Ciudad</th>
            <th>Id</th>
        </tr>
    </tfoot>
</table>